.topnav {
    background-color: #333;
    overflow: hidden;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin:10px;
}
  
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

.wrapper{
	display: grid;
	grid-template-columns: 70% 30%;
}

.wrapper > div{
	background: #eee;
	padding: 1em;
}

.wrapper > div:nth-child(odd){
    background:#ddd;
}